<h2>{{title}}</h2>

<p ng-hide="planes">LOADING PLANES NOW...</p>
<div class="well">
<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="filter" ng-controller="PlanesCtrl">
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>
<div>
    <br>
<div>
<a href="/create" class="btn btn-primary">Create</a>
<div class="well" ng-repeat="p in planes">
    <h3><strong>{{p.manufacturer}}</strong>{{p.model}}</h3>
    <a ng-href="/plane/{{p._id}}" class="btn btn-success">Details</a>
    <a ng-href="/delete/{{p._id}}" class="btn btn-danger">Delete</a>
</div>
</div>